{% extends 'admin-layout.html' %}


{% block layout %}
<div id="main-content" class="relative w-full p-4 h-full overflow-y-auto bg-gray-50 dark:bg-gray-900">
    
    <div class="bg-slate-800 z-i9999 flex justify-center hover:bg-red-900 items-center w-10 h-10 shadow-xl fixed cursor-pointer right-5 bottom-5 rounded-full " data-bs-toggle="modal" data-bs-target="#addQueries">
        <svg class="flex-shrink-0 w-6 h-6 shadow-md !text-white transition duration-75 group-hover:!text-gray-200 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd"></path></svg>
    </div>

    <main>
        {%block content%}

        {% endblock %}
    </main>

    <div class="modal fade" id="addQueries" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateStudentLable" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateStudentLable">Student Enquiry</h1>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url "student-enquiry" %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label">Title</label>
                            <input class="form-control" type="text" id="name" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="des" class="form-label">description (optional)</label>
                            <textarea class="form-control" id="des" name="description"> </textarea>
                        </div>
                        <p> <span class="font-semibold">Email: </span> {{ user.email }}<p>
                        <button type="submit" class="btn btn-info mt-4">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
