{% extends 'student_dashboard.html' %}

{% load static %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tag }} alert-dismissible fade show" role="alert">
  {{ message.message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="d-flex justify-content-between align-items-center mb-4">
  <h2 class="text-base">Assignments</h2>
</div>
<div class="grid grid-cols-1 gap-4">
  {% for assignment in assignments %}
  <a href="{% url "assignments-student-view" assignment.id %}">
  <div class="p-4 bg-white relative shadow-md rounded-2xl">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold">{{ assignment.title }}</h3>
      
      {% if assignment.due_date <= now %}
        <p class="text-sm font-bold text-red-500">{{ assignment.due_date }}</p>
      {% elif assignment.due_date <= now|add:3|date:"Y-m-d" %}
        <p class="text-sm font-bold text-red-500">{{ assignment.due_date }}</p>
      {% else %}
        <p class="text-sm font-semibold text-gray-500">{{ assignment.due_date }}</p>
      {% endif %}
    </div>
    <div class="mb-4">
      {% if assignment.description %}
      <p>{{ assignment.description }}</p>
      {% else %}
      <div class="text-gray-400">No description available</div>
      {% endif %}
    </div>
    <div class="flex space-x-3 items-center">
    <div class="text-sm text-gray-500"><span class="font-semibold" >Teacher: </span>{{ assignment.teacher }}</div>
    <div class="text-sm text-gray-500"><span class="font-semibold" > Subject:</span> {{ assignment.teacher.subject }}</div>
    <div class="text-sm text-gray-500"><span class="font-semibold" > Questions: </span>{{ assignment.question_length }}</div>
  </div>
  </div>
  </a>
  {% endfor %}
</div>
<script> 
    new DataTable('#data-assignments'); </script>

{% endblock %}